.transition-all {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.background-cover,
.intro-header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.serif,
body,
.intro-header .post-heading .meta {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.sans-serif,
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-custom,
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading,
.intro-header .post-heading .subheading,
.btn,
.pager li > a,
.pager li > span {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
body {
  font-size: 18px;
  line-height: 1.8;
  color: #404040;
}
p {
  line-height: 1.8;
  margin: 30px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  line-height: 1.4;
  margin-top: 40px;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 10px;
}
a:hover,
a:focus {
  color: #1980ff;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: #fff;
}
.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
}
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent !important;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: #fff;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255,255,255,0.8);
  }
  .navbar-custom .nav li a {
    color: #fff;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255,255,255,0.8);
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
/* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #1980ff;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #1980ff;
  }
  .navbar-custom.is-visible {
/* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@media only screen and (max-width: 767px) {
  .navbar-custom.navbar-has-search-result {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    z-index: 3;
    overflow-y: auto;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-custom.navbar-has-search-result .navbar-collapse {
    max-height: 100%;
  }
}
.intro-header {
  background-color: #4d4d4d;
  background-position: center center;
  background-attachment: scroll;
  margin-bottom: 30px;
}
.intro-header .page-main {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .intro-header {
    margin-bottom: 50px;
  }
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading.archives,
.intro-header .post-heading.archives,
.intro-header .page-heading.archives {
  color: #1980ff;
  margin-top: 60px;
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-weight: 100;
  margin: 10px 0 0;
  font-family: 'Noto Sans KR';
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading {
  position: relative;
}
.intro-header .post-heading h1 {
  word-break: keep-all;
  font-size: 35px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  word-break: keep-all;
  line-height: 1.1;
  display: block;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  padding-left: 5px;
  padding-right: 5px;
}
.intro-header .post-heading .subheading {
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: #fff;
}
.intro-header .post-heading :after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
    margin-bottom: 10px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.intro-header .post-subheading {
  font-weight: 100;
  font-family: 'Noto Sans KR';
  margin-top: 5px;
  display: inline-block;
  background: rgba(0,0,0,0.5);
  padding-left: 5px;
  padding-right: 5px;
}
@media only screen and (max-width: 768px) {
  .intro-header .post-subheading {
    font-size: 25px;
  }
}
.post-preview > a {
  color: #404040;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #1980ff;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.post-preview > a > .post-title.archive {
  font-size: 22px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: 'Noto Sans KR';
  color: #404040;
}
.post-preview > .post-meta {
  color: #4d4d4d;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Roboto';
}
.post-preview > .post-meta.archive {
  font-size: 16px;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #1980ff;
  text-decoration: underline;
}
@media only screen and (max-width: 640px) {
  .post-preview > .post-meta {
    font-size: 16px;
  }
  .post-preview .text--article-category.icon,
  .post-preview .text--article-tag.icon {
    font-size: 12px;
  }
  .post-preview > a > .post-title {
    font-size: 24px;
  }
  .post-preview > a > .post-subtitle {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.post-tag-category-box {
  margin-bottom: 20px;
}
.post-tag-category-box:after {
  content: "";
  display: block;
  clear: both;
}
.post-tags,
.post-categories {
  font-size: 15px;
}
.post-tags a,
.post-categories a {
  font-weight: bold;
  border-bottom: 1px dotted #ababab;
  text-transform: uppercase;
  margin-right: 5px;
  margin-bottom: 5px;
}
.post-tags a:hover,
.post-categories a:hover,
.post-tags a:visited,
.post-categories a:visited,
.post-tags a:active,
.post-categories a:active {
  text-decoration: none;
  border-bottom: none;
}
.archive-before-pagination {
  height: 30px;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
footer .button__top {
  position: fixed;
  width: 50px;
  height: 50px;
  display: block;
  right: 15px;
  bottom: 15px;
  background: rgba(255,255,255,0.4);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  color: #999;
  transition: all 0.3s ease;
  text-decoration: none;
}
footer .button__top:hover,
footer .button__top:focus {
  border-radius: 10%;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #1980ff;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee;
}
.btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #1980ff;
  border: 1px solid #1980ff;
  color: #fff;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 0;
  border: none;
}
.pager li > a:hover,
.pager li > a:focus {
  color: #fff;
  background-color: #1980ff;
  border: 1px solid #1980ff;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #4d4d4d;
  background-color: #404040;
  cursor: not-allowed;
}
::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #1980ff;
}
::selection {
  color: #fff;
  text-shadow: none;
  background: #1980ff;
}
img::selection {
  color: #fff;
  background: transparent;
}
img::-moz-selection {
  color: #fff;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #1980ff;
}
.container {
  font-family: 'Noto Sans KR';
  color: #414141;
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-default {
  background-color: rgba(0,0,0,0.9);
  border: none;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: none;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color: #fff;
}
.post-preview .icon,
.icon {
  color: #fff;
  border-radius: 5px;
  padding: 5px 8px 7px;
  line-height: 1;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.5px;
  border: none !important;
}
.post-preview .text--article-tag,
.text--article-tag {
  background-color: #1980ff;
}
.post-preview .text--article-category.icon,
.text--article-category.icon {
  background-color: #000;
}
.post-preview > a.icon:hover,
.post-preview > a.icon:focus,
.post-tags a.icon:hover,
.post-categories a.icon:hover {
  color: #fff;
  opacity: 0.5;
}
article .container {
  font-weight: 400;
}
article .container .row code {
  color: #1980ff;
  padding: 2px 5px;
  background: #f2f5f9;
}
article .container .row img {
  max-width: 100% !important;
  height: auto;
  display: inline-block;
}
article .container .row .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .container .row .video-container iframe,
article .container .row .video-container object,
article .container .row .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .container .row blockquote {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 1em;
  font-weight: 400;
  padding: 0 20px;
  margin: 20px 0;
  text-align: left;
  color: #1980ff;
  border-left: 5px solid #1980ff;
}
article .container .row blockquote p {
  margin: 0;
  line-height: 1.6;
}
article .container .row blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
article .container .row blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
article .container .row .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article .container .row .pullquote.left {
  float: left;
}
figure.highlight {
  background: #eee;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: #999;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight table .gutter {
  color: #999;
  padding-right: 15px;
  border-right: 1px solid #1fcb0c;
  text-align: right;
}
figure.highlight table .gutter .line {
  color: #1fcb0d;
}
figure.highlight table .code {
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
figure.highlight table .line {
  height: 20px;
}
figure.highlight table .line.marked {
  background: #d6d6d6;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #7eff00;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #47b3ff;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
.row .table__custom {
  width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
.row .table__custom table {
  width: 100%;
}
.row .table__custom table thead th {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 3px 20px;
}
.row .table__custom table thead th:last-child {
  border-right: none;
}
.row .table__custom table tbody td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 0px 20px;
  font-weight: lighter;
}
.row .table__custom table tbody td:last-child {
  border-right: none;
}
.google-ad-container {
  clear: both;
}
.google-ad-container:after {
  clear: both;
}
figure.highlight {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
figure.highlight {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}
:not(pre) > figure.highlight,
figure.highlight {
  background: #000;
}
:not(pre) > figure.highlight {
  border-radius: 0.3em;
  white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}
.token.punctuation {
  color: #f8f8f2;
}
.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}
.token.boolean,
.token.number {
  color: #bd93f9;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}
.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c;
}
.token.keyword {
  color: #8be9fd;
}
.token.regex,
.token.important {
  color: #ffb86c;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
#site_search {
  padding: 13px 20px;
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  #site_search {
    padding: 10px 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
  #site_search {
    width: 240px;
    position: absolute;
    right: 0;
    top: 48px;
  }
}
@media only screen and (min-width: 768px) {
  #site_search {
    width: 240px;
  }
}
#site_search .form-group {
  margin-bottom: 0;
}
#site_search .form-group .form-control {
  border: none;
}
#site_search #local-search-result {
  display: none;
}
#site_search #local-search-result.on {
  display: block;
}
@media only screen and (min-width: 768px) {
  #site_search #local-search-result {
    background: #fff;
    position: absolute;
    width: 400px;
    right: 20px;
    top: 60px;
    border-radius: 4px;
    max-height: 390px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    overflow: auto;
  }
}
#site_search #local-search-result .search-result-list {
  padding: 0;
  list-style: none;
}
#site_search #local-search-result .search-result-list .list--search_result__empty {
  font-size: 16px;
  color: #999;
  padding: 10px 20px;
}
#site_search #local-search-result .search-result-list .list--search_result {
  width: 100%;
  padding: 20px;
}
#site_search #local-search-result .search-result-list .list--search_result:last-child {
  border: none;
}
#site_search #local-search-result .search-result-list .list--search_result .search-result-title {
  color: #333;
  display: block;
  padding: 0 0 10px 0;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#site_search #local-search-result .search-result-list .list--search_result .search-result-title:hover,
#site_search #local-search-result .search-result-list .list--search_result .search-result-title:focus {
  color: #1fcb0d;
}
#site_search #local-search-result .search-result-list .list--search_result .search-result {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  word-break: break-word;
}
#site_search #local-search-result .search-result-list .list--search_result .search-result .search-keyword {
  color: #1fcb0d;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  #site_search #local-search-result .search-result-list .list--search_result .search-result {
    color: #fff;
  }
  #site_search #local-search-result .search-result-list .list--search_result .search-result-title {
    color: #1fcb0d;
  }
}
@media only screen and (min-width: 768px) {
  #site_search #local-search-result .search-result-list .list--search_result {
    width: 360px;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
    margin: 0 20px;
    box-sizing: border-box;
  }
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-bottom .navbar-collapse.in,
  .navbar-fixed-top .navbar-collapse.in {
    max-height: 100%;
  }
}
h1 {
  margin-top: 40px;
}
